body
{   /*text-align: center;*/
    /*background: url("https://codecademy-content.s3.amazonaws.com/courses/web-beginner-en-3pc6w/images/splash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Helvetica;
    color: white;
    background-color: black;
    transition: color 1s ease-out,
    			background-color 1s ease-out;
}

p, li
{   font-size: 1.1vw;
	/*margin: 0;
    padding: 0;*/
}
/*h1
{   font-size: 3vw;
	margin: 0;
    padding: 0;
}*/

/*img
{   width: 100%;
	height: 50%;
	margin: 0;
    padding: 0;
}*/

#load
{	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: gray;
	text-align: center;
}

#navbar
{	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    /*list-style-type: none;
	/*position: fixed;
	top: 0px;
	width: 50%;
	height: 50%;
	background-color: yellow;*/
}
#navbar > li
{	display: block;
	float: left;
	width: 19%;
	/*outline: 1px solid gray;*/
	text-align: center;
}

#header
{	display: inline-block;
	float: left;
	width: 65%;
	height: 20vh;
	margin: 1%;
	text-align: center;
}

.column
{	display: inline-block;
	float: right;
	position: relative;
	top: -2em;
	right: -1em;
	width: 21%;
	height: 80vh;
	padding: 2%;
	border-radius: 20px;
	list-style-type: none;
	color: black;
	background-color: white;
	transition: color 1s ease-out,
    			background-color 1s ease-out;
}
.column > div
{	float: left;
	width: 100%;
	height: 15%;
	text-align: center;
	/*outline: 1px solid gray;*/
}
div.inpillar
{	display: inline-block;
	width: 80%;
	height :70%;
	text-align: left;
}
/*div.scroll
{	float: right;
	position: relative;
	bottom: 85%;
	width: 20%;
	height: 70%;
}*/
div.scroll > *
{	/*display: block;
	float: right;
	position: relative;
	top: auto;
	bottom: auto;*/
	width: 2em;
	height: 2em;
	/*margin: 2.2em 1.5em 2.2em 1.5em;*/
	/*margin: 20%;
	margin-top: 25%;
	margin-right: 20%;
	margin-bottom: 25%;
	margin-left: 20%;*/
	/*padding: .8em;*/
	text-align: center;
	outline: 1px solid gray;
}

.pane
{	display: inline-block;
	float: left;
	width: 71%;
	height: 50vh;
	text-align: center;
	list-style-type: none;
	margin: 0;
    padding: 0;
}
.pane > li
{	/*float: left;
	position: relative;*/
	width: 100%;
	height: 100%;
	/*text-align: center;*/
	border-bottom: 1px solid gray;
}
.pane > li > div > *:not(:first-child)
{	float: right;
	/*text-align: left;
	position: relative;*/
	width: 49%;
	/*height: 100%;
	text-align: center;*/
	outline: 1px solid gray;
}

/*.arrow
{	display: none;
	clear: left;
	position: relative;
	bottom: 80%;
	border: 1px solid gray;
}*/

/*.pane > div
{	display: none;
}*/
/*
div.splash
{	display: block;
}
li.splash
{	display: block;
}*/
/*#sumb
{	display: block;
	clear: both;
}
#sumb div
{	display: inline-block;
	width: 33%;
}*/
/*input
{   border: 0;
    padding: 12px;
    font-size: 18px;
}

input[type="submit"]
{   background: limegreen;
    color: black;
}*/

#footer
{	position: absolute;
	top: 101%;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-color: #10120a;
}
#footer > *
{	clear: both;
	/*display: inline-block;*/
	width: 90%;
	margin: 0 auto;
	/*height: 5vh;
	text-align: center;
	padding: 10% 0 10% 0;*/
	outline: 1px solid gray;
}
#footer > div > div
{	display: inline-block;
	float: left;
	width: 8em;
	height: 8em;
	/*text-align: center;
	margin: 0 inherit;*/
	/*padding: 0.2em 0;
	outline: 1px solid gray;
	display: none;*/
}
/*#footer > div > div > *
{	position: absolute;
}/*